@model IEnumerable<ASM_NET107.Models.Employees>
@{
    Layout = "_LayoutAdmin";
}

<div class="alert alert-info">
    Chức năng chỉ dành cho Quản lý.
</div>
<div class="card">
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>EmployeeID</th>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Username</th>
                    <th>PasswordHash</th>
                    <th>Role</th>
                    <th>CreatedDate</th>
                    <th>IsActive</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.EmployeeID</td>
                        <td>@item.FullName</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Username</td>
                        <td>@item.PasswordHash</td>
                        <td>@item.Role</td>
                        <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.IsActive</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.EmployeeID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.EmployeeID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>