<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bai1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bai1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="Header">
            Cities
        </div>
    </header>
        <div class="mid">
            <div class="Boxtrai">
                <br />
                @Html.ActionLink("London", "London", "Home") <br />
                @Html.ActionLink("Paris", "Paris", "Home") <br />
                @Html.ActionLink("Tokyo", "Tokyo", "Home")
            </div>
            <div class="Boxphai">
                @RenderBody()
            </div>
        </div>
    <footer>
        <div class="Footer">
            Footer
        </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </footer>
</body>
</html>
