@model Bai01.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Id</dt>
        <dd class="col-sm-9">@Model.Id</dd>

        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Category</dt>
        <dd class="col-sm-9">@Model.Category</dd>

        <dt class="col-sm-3">Color</dt>
        <dd class="col-sm-9">@Model.Color</dd>

        <dt class="col-sm-3">Unit Price</dt>
        <dd class="col-sm-9">@Model.UnitPrice</dd>

        <dt class="col-sm-3">Available Quantity</dt>
        <dd class="col-sm-9">@Model.AvailableQuantity</dd>

        <dt class="col-sm-3">Created Date</dt>
        <dd class="col-sm-9">@Model.CreatedDate</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>